[%-DEFAULT title = "RFC:Toy Process Table Viewer, " _ proc_name %]

<h1><a href="[% c.uri_for_action("processes") %]">[% c.name %]</a></h1>
<h2>[% processes.size %] Process[% "es" UNLESS processes.size == 1 %] Named [% proc_name %]</h2>

[%-IF processes %]
  [%-FOR proc IN processes %]
  <div class="process">
      <a class="pid" href="[% c.uri_for_action("process_by_name_pid", [ proc.realfname, proc.pid ]) %]">[[% proc.pid %]]</a>
          <code>[% proc.cmndline | html %]</code>
  </div>
  [%-END %]
[%-END %]

