[%-DEFAULT title = "RFC:Toy Process Table Viewer" %]

<h1>[% title %]</h1>
<h2>All Readable Processes</h2>

[%-IF processes %]
<ul style="columns:2; list-style-type:none">
  [%-FOR proc IN processes %]
    <li style="white-space:nowrap; margin:0; padding:0;">
      <a class="pid" href="[% c.uri_for_action("process_by_name_pid", [ proc.realfname, proc.pid ]) %]">[% proc.pid %]</a>
      ·
      <a class="procName" href="[% c.uri_for_action("processes_by_name", [ proc.realfname ]) %]">[% proc.realfname %]</a></li>
  [%-END %]
</ul>
[%-END %]
